:host {
  display: block;
  font-family: Helvetica;
}
.container{
 width: 100%;
 max-width: 600px;
 margin: 0 auto;
 padding: 100px 0;
 top:100px;
}
.col-md-12{
 font-family: Helvetica;
 color: white;
 }
.btn-primary{
  background: #0b8585!important;
}

.login-box {
        margin: 20px;
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 50px;
        padding-left: 80px;
        color: var(--white-color);
        border-radius: 10px;
        width: 40rem;

        background: linear-gradient(90deg, rgba(7,33,70,1) 0%, rgba(16,72,122,1) 65%, rgba(2,132,132,1) 100%);
        zoom: 90%;
        background-color: #fff;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 3px 5px -1px rgba(0, 0, 0, 0.4)

        position: absolute;

       transform: translate(50%, 0%);
      }



      .perfil-box {


              color: var(--white-color);
              border-radius: 30px;

              height: 10rem;

              background: linear-gradient(90deg, rgba(7,33,70,1) 0%, rgba(16,72,122,1) 65%, rgba(2,132,132,1) 100%);
              zoom: 90%;
              background-color: #fff;
              box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                        0 1px 18px 0 rgba(0, 0, 0, 0.12),
                        0 3px 5px -1px rgba(0, 0, 0, 0.4)

              position: absolute;
        }





      .head-box {


              padding-top: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              padding-left: 10px;


              border-bottom: 1px solid #ECECEC;


              background-color: #fff;
              box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                        0 1px 18px 0 rgba(0, 0, 0, 0.12),
                        0 3px 5px -1px rgba(0, 0, 0, 0.4)

              position: absolute;

             transform: translate(0%, 0%);
            }



                  .options-box {


                          padding-top: 5px;
                          padding-right: 5px;
                          padding-bottom: 5px;
                          padding-left: 5px;
                          width: 50rem;

                          border-bottom: 1px solid #ECECEC;
                          border-left: 1px solid #ECECEC;
                          border-right:1px solid #ECECEC;

                          background-color: #fff;
                          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                                    0 3px 5px -1px rgba(0, 0, 0, 0.4)

                          position: absolute;
                         transform: translate(0%, 0%);
                        }


                        .options-pages {


                                padding-top: 10px;
                                padding-right: 10px;
                                padding-bottom: 10px;
                                padding-left: 10px;
                                width: 60rem;

                                border-bottom: 1px solid #ECECEC;
                                border-left: 1px solid #ECECEC;
                                border-right:1px solid #ECECEC;
                                border-top:1px solid #ECECEC;


                                background-color: #fff;
                                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                                          0 1px 18px 0 rgba(0, 0, 0, 0.12),
                                          0 3px 5px -1px rgba(0, 0, 0, 0.4)

                                           position: fixed;
                                            top: -50px;
                                            right: 10px;
                                            bottom: 10px;
                                            overflow-y: scroll;



                              }






.head-avatar{
  position: absolute;
   top: 0px;
   right: 15px;

   text-align:justify;


  }




        .letrasLoging {
                   color:#FFFFFF;
                  text-shadow: 1px 2px #999;

                  }

      .letrasLogingApp {
                 color:#efb810;
                text-shadow: 1px 2px #999;
                font-weight: bold;

                }


     .avatar{
       border-radius: 50%;
       width:40px
       }

       .avatarperfil{
         border-color: black;
         border-radius: 100%;
         border-style: double;
         width:200px;


         }

         .avatarbusqueda{
           border-color: black;
           border-radius: 50%;
           border-style: double;
           width:40px;
           position: absolute;
            transform: translate(0%, -40%);
           }




.imgedicion{
  border-color: black;
  border-radius: 50%;
  width:20px

  }


    .avataropciones{
      border-color: #00008b;
      border-radius: 50%;
      width:30px
      }








.logohead{

  width:80px;
    }
