<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../skill-stars-rating-component/skill-stars-rating-component.html">
<link rel="import" href="../skill-list-skill-component/skill-list-skill-component.html">
<link rel="import" href="../../../bower_components/svg-piechart/svg-piechart.html">


<dom-module id="proyecto-persona">

    <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            a.card, div.card {
                margin-bottom: 32px;
                width: calc(100% - 64px);
            }
            .img-user{
                cursor:pointer;
                width:30%;
                height: auto;
                vertical-align: middle;
            }
            table {
              width: 80%;
            }
            proyecto-persona
            th, td {
              padding: 15px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
            tr:hover {
              background-color: #f5f5f5;
            }
            .persona {
              font-weight: bold;
              font-size: 1.2em;
            }
            .posicion {
              font-style: italic;
            }
            /* The Modal (background) */
            .modal {
              /*display: none;  Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 100; /* Sit on top */
              left: 0;
              top: 0;
              width: calc(100% - 10px); /* Full width */
              height:calc(100%);/* Full height */
              /*overflow: auto; /* Enable scroll if needed */*/
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              margin: 0 0 0 0;
              padding: 64px 0px 0px 256px;
              overflow: scroll;
            }
            .contenidomodal {
              background-color: #FFFFFF;
            }
            .icon {
              cursor: pointer;
            }
            .titulo-skills {
              color: #C0475E;
              font-size: 2em;
              font-weight: bold;
            }
            .alignleft {
            	float: left;
            }
            .alignright {
            	float: right;
            }

        </style>

        <!-- <table id="tabladatosproyectos">
        <tbody>
          <tr>
          <td colspan="2">  Proyectos Asignados</td>
         </tr>

          <tr>
            <td>   <div > <svg-piechart size="250" data="{{ftes}}"></svg-piechart></div> </td>
            <td>  -->
            <div class="row">
                <div class="col-xl-3">
                  <div class="box shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center">
                      <h6 class="m0 font-weight-bold text-primary">Proyectos Asignados</h6>
                    </div>
                    <div class="card-body">
                      <svg-piechart size="auto" data="{{ftes}}"></svg-piechart>
                    </div>
                  </div>
                </div>
                <div class="col-xl-9">
                  <div class="box shadow mb-4">
                   <table class="table table-responsive table-condensed">
                    <thead>
                     <tr>
                       <td>Prioridad Proyecto</td>
                       <td>Proyecto</td>
                       <td>Cod MPV</td>
                       <td>Nombre MPV</td>
                       <td>FTE asignado</td>
                     </tr>
                   </thead>
                    </tbody>
                      <template is="dom-repeat" items="{{projects}}">
                        <tr>
                          <td >{{item.entregable.proyecto.prioridad}}</td>
                          <td >{{item.entregable.proyecto.descripcion}}</td>
                          <td >{{item.entregable.codigo}}</td>
                          <td >{{item.entregable.descripcion}}</td>
                          <td >{{item.fte}}</td>
                        </tr>
                      </template>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!-- </td>
          </tr>
        </tbody>
      </table> -->
<!-- decia auto -->
      <iron-ajax
        id="getProjects"
        url="http://localhost:3000/asignacionesxresgistro/{{persona.registro}}"
        handle-as="json"
        on-response="showDataProjects">
      </iron-ajax>


    </template>
    <script>
        class MyProyectoPersona extends Polymer.Element {
            static get is() {
                return 'proyecto-persona';
            }
            static get properties() {
                return {
                  persona: {
                      type: Object,
                      observer: '_personChanged'
                  },
                  registro: {
                      type: String
                  },
                  projects: {
                    type: Array,
                    reflectToAttribute: true,
                    notify: true,
                    value: []
                  },
                  ftes: {
                  type: Array,
                  value: []
                  }
                };
            }


            _personChanged() {

              this.$.getProjects.generateRequest();
            }


            showDataProjects(data) {
              this.projects = data.detail.response;
              var temp =[];

              var i =0;
              for ( i=0; i<  this.projects.length; i++ )
              {

              temp.push(  parseInt(   parseFloat(  this.projects[i].fte) * 100));

              }
              //console.log(typeof(this.ftes));
              //temp.shift();
              this.ftes=temp;
              //console.log(typeof(this.ftes));

            }
        }
        window.customElements.define(MyProyectoPersona.is, MyProyectoPersona);
    </script>
</dom-module>
