<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="skill-stars-rating-component">
  <template>
    <style>
  </style>

  <!-- <iron-icon id="star44" icon="[[star1]]"></iron-icon> -->
  <!-- <iron-icon id="star1" icon="[[star1]]"></iron-icon>
  <iron-icon id="star2" icon="[[star2]]"></iron-icon>
  <iron-icon id="star3" icon="iconos-web:bbva-rank-state-none"></iron-icon>
  <iron-icon id="star4" icon="iconos-web:bbva-rank-state-none"></iron-icon>
  <iron-icon id="star5" icon="iconos-web:bbva-rank-state-none"></iron-icon> -->
  <iron-icon id="1" icon="{{star1}}" on-click="doAction"></iron-icon>
  <iron-icon id="2" icon="{{star2}}" on-click="doAction"></iron-icon>
  <iron-icon id="3" icon="{{star3}}" on-click="doAction"></iron-icon>
  <iron-icon id="4" icon="{{star4}}" on-click="doAction"></iron-icon>
  <iron-icon id="5" icon="{{star5}}" on-click="doAction"></iron-icon>

  <!-- <template is="dom-repeat" items="{{estrellas}}" as="st">
    <iron-icon id="star4[[st]]" icon="[[st]]"  on-click="doAction"></iron-icon>
  </template> -->
  <!-- <template is="dom-repeat" items="{{stars}}" as="star">
    <input id="[[star.id]]" type="button" value="[[star.id]]" on-click="doAction"/>
    <iron-icon id="[[star.id]]" icon="[[star.icono]]" on-click="doAction"></iron-icon>
    <iron-icon id="[[star.id]]" icon="[[star.icono]]" onclick="clickme(this)"></iron-icon>
  </template> -->
<!--

  <iron-icon icon="iconos-web:bbva-rank-state-none"></iron-icon>
  <iron-icon icon="iconos-web:bbva-rank-state-marked"></iron-icon>
  <iron-icon icon="iconos-web:bbva-rank-state-checked"></iron-icon>
  <iron-icon icon="iconos-web:bbva-rank-state-validated"></iron-icon>
-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     var STAR_NONE = "iconos-web:bbva-rank-state-none"; //No ha sido asignado
     var STAR_MARKED = "iconos-web:bbva-rank-state-marked"; //Complemento de lo asignado
     var STAR_CHEKED = "iconos-web:bbva-rank-state-checked"; //Declarado por el usuario, por validar
     var STAR_VALIDATED = "iconos-web:bbva-rank-state-validated"; //Validado

    class SkillStarsRatingComponent extends Polymer.Element {
      static get is() { return 'skill-stars-rating-component'; }
      static get properties() {
        // console.log('ingreso a skill-stars-rating-component');
        return {
          rating: {
            type: Number,
            value: 0
          },
          tipo: {type: Number, value: 0 },
          estrellas: {
            type: Array,
            value: [{STAR_CHEKED},{STAR_CHEKED},{STAR_CHEKED},{STAR_CHEKED},{STAR_CHEKED}]
          },
          star1: {type: String, value:STAR_NONE }, //{id: 1, icono:STAR_NONE, action: function() {console.log('1');}},
          star2: {type: String, value:STAR_NONE }, //{id: 2, icono:STAR_NONE, action: function() {console.log('2');}},
          star3: {type: String, value:STAR_NONE }, //{id: 3, icono:STAR_NONE, action: function() {console.log('3');}},
          star4: {type: String, value:STAR_NONE }, //{id: 4, icono:STAR_NONE, action: function() {console.log('4');}},
          star5: {type: String, value:STAR_NONE }, //{id: 5, icono:STAR_NONE, action: function() {console.log('4');}},
          stars: {
            type: Array,
            notify: true,
            reflectToAttribute: true,
            value:[
              {id: 0, icono:STAR_NONE, action: function() {console.log('0');}},
              {id: 1, icono:STAR_CHEKED, action: function() {console.log('1');}},
              {id: 2, icono:STAR_CHEKED, action: function() {console.log('2');}},
              {id: 3, icono:STAR_MARKED, action: function() {console.log('3');}},
              {id: 4, icono:STAR_MARKED, action: function() {console.log('4');}}
            ]
          }
          // ,
          // ready: function() {
          //   console.log(this.localName + '#' + this.id + ' has local DOM initialized');
          // }
        };
      }

      ready() {
        super.ready();
        // console.log(this.localName + '#' + this.id + ' has local DOM initialized');
        this.setStars(this.rating, this.tipo);
       }

      doAction(event) {
        // var star = event.model.__data.star;
        // var data = event.model.__data;
        var index = event.srcElement.id;
        // console.log(index);
        //star.action();
        // console.log(this.estrellas);
        // event.target.templateInstance.model.action();
        this.setStars(index,this.tipo);
      }

      setStars(valor,tipo) {
        var tipoEstrella = STAR_CHEKED;
        if (tipo == 1) {
          tipoEstrella = STAR_VALIDATED;
        }
        this.initStars();
        if (valor > 4) { this.star5 = tipoEstrella;}
        if (valor > 3) { this.star4 = tipoEstrella;}
        if (valor > 2) { this.star3 = tipoEstrella;}
        if (valor > 1) { this.star2 = tipoEstrella;}
        if (valor > 0) { this.star1 = tipoEstrella;}
        if (valor == 0) { this.setAllStars();}
      }

      setAllStars() {
        this.star1 = STAR_MARKED;
        this.star2 = STAR_MARKED;
        this.star3 = STAR_MARKED;
        this.star4 = STAR_MARKED;
        this.star5 = STAR_MARKED;
      }

      initStars() {
        this.star1 = STAR_NONE;
        this.star2 = STAR_NONE;
        this.star3 = STAR_NONE;
        this.star4 = STAR_NONE;
        this.star5 = STAR_NONE;
      }
    }

    window.customElements.define(SkillStarsRatingComponent.is, SkillStarsRatingComponent);
  </script>
</dom-module>
