<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="my-infopersona.html">
<link rel="import" href="../skill/my-skillpersona.html">
<!-- <link rel="import" href="../project/my-project-person.html"> -->

<!--          <my-skillpersona hidden$="{{!mostrarskills}}"></my-skillpersona>
          <my-project-person hidden$="{{!mostrarproyectos}}"></my-project-person>  -->


<dom-module id="my-detapersona">

    <template>
        <div  class="d-flex flex-column" >
          <my-infopersona id="infopersona"></my-infopersona>

        </div>
    </template>
    <script>
        class MyDetapersona extends Polymer.Element {
            static get is() {
                return 'my-detapersona';
            }
            static get properties() {
                return {
                    persona: {
                        type: Object
                    },
                    mostrarproyectos: {
                        type: Boolean,
                        value: false
                    },
                    mostrarskills: {
                        type: Boolean,
                        value: false
                    },
                    imgUserM: {
                        type: String,
                        value: function() {return this.resolveUrl('../../images/user.png')}
                    }
                };
            }

   // agregado para cargar la persona seleccionada
            inicializa() {

              this.$.infopersona.persona = this.persona;

            }

        }
        window.customElements.define(MyDetapersona.is, MyDetapersona);
    </script>
</dom-module>
