<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../proyecto/proyecto-persona.html">


<dom-module id="my-infopersona">

    <template>
       <link rel="stylesheet" type="text/css" href="../../../css/proy_estilos.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style >
        table {
          width: 80%;

        }
        th, td {
          padding: 15px;

          border-bottom: 1px solid #ddd;
        }
        tr:hover {
          background-color: #f5f5f5;
        }
        .persona {
          font-weight: bold;
          font-size: 1.2em;
        }
        .posicion {
          font-style: italic;
        }

        </style>
    <div class="row">
      <div class="col-xl-9">
        <div class="box shadow mb-4">
          <!-- <table class="table table-responsive">
            <tr> -->
            <div class="row">
                <div class="col-xl-4 align-middle">
                    <div align="center"> <img  src='../../../images/{{persona.url_img}}' class="avatarperfil"  alt="usuario" > </div>
                </div>
                <div class="col-xl-8">
                  <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">
                    {{persona.nombres}} {{persona.apellido_paterno}} {{persona.apellido_materno}}
                    </h6>
                  </div>
                  <table class="table table-responsive table-striped">
                      <tr >
                        <td>
                          <div>Descripciòn</div>
                        </td>
                      </tr>
                      <tr >
                        <td >
                          <div >Registro</div>
                        </td>
                        <td >
                          <div >{{persona.registro}}</div>
                        </td>
                      </tr>
                      <tr >
                        <td >
                          <div >Building Block</div>
                        </td>
                        <td >
                          <div >{{persona.building_block}}</div>
                        </td>
                      </tr>
                      <tr >
                        <td >
                          <div >Disciplina</div>
                        </td>
                        <td >
                          <div >{{persona.unidad}}/{{persona.disciplina}}</div>
                        </td>
                      </tr>
                      <tr >
                        <td >
                          <div >Nivel TechU</div>
                        </td>
                        <td >
                          <div >{{persona.nivel_techu}}</div>
                        </td>
                      </tr>
                  </table>
                </div>
              </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="box shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Skills</h6>
          </div>
          <div class="card-body">
            <h4 class="small font-weight-bold">Host <span class="float-right">50%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold">Distribuido <span class="float-right">10%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold">Cells<span class="float-right">30%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold">APX <span class="float-right">20%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <proyecto-persona persona ="[[persona]]" ></proyecto-persona>


    </template>
    <script>




        class MyInfopersona extends Polymer.Element {
            static get is() {
                return 'my-infopersona';
            }
            static get properties() {
                return {
                    imgUserM: {
                        type: String

                    },
                    persona: {
                      type: Object
                    }
                };
            }
            inicializa() {
              //this.persona = document.querySelector("my-app").root.querySelector("my-view1").personaSeleccionada;
            }
        }
        window.customElements.define(MyInfopersona.is, MyInfopersona);
    </script>



</dom-module>
