<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

		<dom-module id="proyecto-list-employee-component">
			<template>
				<link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
					<style>
      table {
        width: 80%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
      img{
        cursor:pointer;
        width:40px;
        height: auto;
        vertical-align: middle;
      }
      .icon {
        cursor: pointer;
      }
    </style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<div class="row pt-4 mt-2">
			<template is="dom-if" if="{{txtsearch}}" restamp>
				<h6 class="m-0 font-weight-bold text-primary">Mostrando resultados de [[txtsearch]]</h3>
			</template>
			<table class="table table-responsive pt-4 mt-2 table-hoover">
			<template is="dom-if" if="{{txtsearch}}" restamp>
				<thead>
					<td>Codigo</td>
					<td>Descripcion</td>
					<td>Disciplina</td>
					<td>Ambito</td>
					<td>Tipo</td>
					<td>Registro</td>
					<td>Nombres</td>
					<td>Asignar</td>
				</thead>
			</template>
			<tbody>
				<template is="dom-repeat" items="{{proyectos}}" filter="isProyecto">

					<tr class="table-row" >
						<td><div class="body-copy">{{item.entregable.codigo}}</div></td>
						<td><div class="body-copy">{{item.entregable.descripcion}}</div></td>
						<td><div class="body-copy">{{item.entregable.disciplina}}</div></td>
						<td><div class="body-copy">{{item.ambito.descripcion_ambito}}</div></td>
						<td><div class="body-copy">{{item.tipo}}</div></td>
						<td><div class="body-copy">{{item.registro}}</div></td>
						<td><div class="body-copy">{{item.persona.apellido_materno}} {{item.persona.apellido_paterno}} {{item.persona.nombres}}</div></td>
						<td><div class="body-copy"><button class="btn btn-primary" type="button" on-click="verAsignacion">
							Asignar
						</button></td>
					</tr>
				</template>
			</tbody>
		</table>
	</div>

						<!--  url="https://skilldev-app.herokuapp.com/persona?limit=10&page=1&nombres={{txtsearch}}"  -->
						<!-- decia auto -->
						<iron-ajax id="getProyectos"
            url="http://localhost:3000/asignacion/listarPorCodigoEntregable/{{txtsearch}}" handle-as="json" on-response="showData" >
						</template>
						<script>
    /**
     * @customElement
     * @polymer
     */
    class ProyectoListEmployeeComponent extends Polymer.Element {
      static get is() { return 'proyecto-list-employee-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String,
            observer: '_textChanged'
          },
          proyectos: {
            type: Array,
            value:[]
          }
        };
      }
      showData(data) {
				console.log('response');
        console.log(data.detail.response);
        this.proyectos = data.detail.response;
      }

      _textChanged() {

        this.$.getProyectos.generateRequest();
      }

			isProyecto(item) {
				console.log(item);
				console.log(item.entregable);
				if(item.entregable!=null){console.log('no es null');
					 return item.entregable.proyecto != null;
				}else{
					return false;
				}
			}

			verAsignacion(e) {
				//document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
				this.dispatchEvent(
					new CustomEvent(
						"selectedpersonevent",
						{
							"detail" : {
								"persona" : e.model.item
							}
						}
					)
				);alert('Asignar');
			}

    }

    window.customElements.define(ProyectoListEmployeeComponent.is, ProyectoListEmployeeComponent);
  </script>
					</dom-module>
