<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<!-- <link rel="import" href="/src/skill-stars-rating-component/skill-stars-rating-component.html"> -->

<dom-module id="skill-list-employee-component">
  <template>
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
    </style>
    <h3>Mostrando resultados de [[txtsearch]]</h3>
    <table>
      <tbody>
        <template is="dom-repeat" items="{{empleados}}">
          <tr>
            <td><div class="body-copy">{{item.nombres}} {{item.apellido_paterno}} {{item.apellido_materno}} [{{item.registro}}]</div></td>
            <td><div class="body-copy">{{item.building_block}}</div></td>
            <td>
              <div>
                <a href="#"><iron-icon icon="iconos-web:bbva-file"></iron-icon></a>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </table>

    <iron-ajax auto
      id="getPersons"
      url="https://skilldev-app.herokuapp.com/persona/{{txtsearch}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListEmployeeComponent extends Polymer.Element {
      static get is() { return 'skill-list-employee-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String
          },
          empleados: {
            type: Array,
            value:[
              {id:"1", nombre:"Tracy Irving", puntos: 100, nivelskill: 4},
              {id:"2", nombre:"Bradley Yeaman", puntos: 80, nivelskill: 3},
              {id:"3", nombre:"Silvestre", puntos: 60, nivelskill: 0},
              {id:"4", nombre:"Rulito", puntos: 10}
            ]
          }
        };
      }
      showData(data) {
        // console.log("showData");
        // console.log(data.detail.response);
        this.empleados = data.detail.response;
      }
    }

    window.customElements.define(SkillListEmployeeComponent.is, SkillListEmployeeComponent);
  </script>
</dom-module>
