<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../skill-stars-rating-component/skill-stars-rating-component.html">
<link rel="import" href="../skill-list-skill-component/skill-list-skill-component.html">


<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="my-skillpersona">

    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            a.card, div.card {
                margin-bottom: 32px;
                width: calc(100% - 64px);
            }
            .img-user{
                cursor:pointer;
                width:30%;
                height: auto;
                vertical-align: middle;
            }
            table {
              width: 100%;
            }
            th, td {
              padding: 15px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
            tr:hover {
              background-color: #f5f5f5;
            }
            .persona {
              font-weight: bold;
              font-size: 1.2em;
            }
            .posicion {
              font-style: italic;
            }
            /* The Modal (background) */
            .modal {
              /*display: none;  Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 100; /* Sit on top */
              left: 0;
              top: 0;
              width: calc(100% - 10px); /* Full width */
              height:calc(100%);/* Full height */
              /*overflow: auto; /* Enable scroll if needed */*/
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
              margin: 0 0 0 0;
              padding: 64px 0px 0px 256px;
              overflow: scroll;
            }
            .contenidomodal {
              background-color: #FFFFFF;
            }
            .icon {
              cursor: pointer;
            }
            .titulo-skills {
              color: #C0475E;
              font-size: 2em;
              font-weight: bold;
            }
            .alignleft {
            	float: left;
            }
            .alignright {
            	float: right;
            }

        </style>
        <div>
          <div class="titulo-skills alignleft">Skills</div>
            <iron-icon icon="iconos-web:bbva-add" on-click="toggleDialog" class="icon alignright" title="Agregar skill"></iron-icon>
            <br>
            <br>
        </div>
        <hr>



      <paper-dialog id="modal" class="modal">
        <div class="card contenidomodal">
          <h1>Buscar skills para asignar</h1>
          <skill-find-component on-searchevent="processEvent"></skill-find-component>
          <br>
          <skill-list-skill-component on-selectskillevent="processSelectSkill" id="tablaResultadoSkills"></skill-list-skill-component>
          <br>
        </div>
      </paper-dialog>

      <table id="tabladatos">
        <tbody>
          <template is="dom-repeat" items="{{skills}}" as="item" >
            <tr>
              <td colspan="2"><div class="persona">{{item.descripcion_skill}}</div>
                <div class="posicion">{{item.detalle_skill}}</div>
                <iron-icon icon="iconos-web:bbva-trash" on-click="_hadleDeleteSkillEvent" class="icon alignright" title="Eliminar skill"></iron-icon>
                <br>
                <div>
                    <iron-icon icon="iconos-web:bbva-checked" title="Autovaloración: {{item.nivel_ingresado}}/5"></iron-icon>
                    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                    <skill-stars-rating-component id="starsingresado"
                      on-selectratingevent="_hadleSelectRatingEvent"
                      persona="{{persona}}"
                      skill="{{item}}"
                      rating="{{item.nivel_ingresado}}">
                    </skill-stars-rating-component>
                    <br>
                    <iron-icon icon="iconos-web:bbva-validated" title="Valoración: {{item.nivel_valorado}}/5"></iron-icon>
                    <span style='margin-right:1.25em; display:inline-block;'>&nbsp;</span>
                    <skill-stars-rating-component id="stars-validado-{{item.codigo_skill}}"
                      tipo="1"
                      on-selectratingevent="_hadleSelectRatingEvent"
                      persona="{{persona}}"
                      skill="{{item}}"
                      rating="{{item.nivel_valorado}}">
                    </skill-stars-rating-component>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

      <iron-ajax auto
        id="getSkills"
        url="http://localhost:3000/person/{{persona.registro}}"
        handle-as="json"
        on-response="showData">
      </iron-ajax>

      <iron-ajax
        id="postRequestId"
        method="post"
        content-type="application/json"
        handle-as="json"
        on-response="handleUserResponse"
        on-error="handleUserError">
      </iron-ajax>

      <iron-ajax
        id="updateSkillRequest"
        method="put"
        headers='{"Accept":"*/*"}'
        content-type="application/json"
        handle-as="json"
        on-response="handleUpdateSkillResponse"
        on-error="handleUpdateSkillError">
      </iron-ajax>

      <iron-ajax
        id="deleteSkillRequest"
        method="put"
        content-type="application/json"
        handle-as="json"
        on-response="handleUpdateSkillResponse"
        on-error="handleUpdateSkillError">
      </iron-ajax>

    </template>
    <script>
        class MySkillpersona extends Polymer.Element {
            static get is() {
                return 'my-skillpersona';
            }
            static get properties() {
                return {
                  persona: {
                      type: Object
                  },
                  imgUserM: {
                      type: String,
                      value: function() {return this.resolveUrl('../../images/user.png')}
                  },
                  registro: {
                      type: String
                  },
                  body: {
                      type: Object
                  },
                  skills: {
                    type: Array,
                    observer: '_cambioSkills',
                    reflectToAttribute: true,
                    notify: true,
                    value: []
                        }
                };
            }

            toggleDialog(event) {
              var index = event.srcElement;
              console.log(index);
              this.$.modal.open();
            }

            accionAsignar(event) {
              var index = event.srcElement;
              console.log(index);
              this.setStars(index,this.tipo);
            }

            showData(data) {
              this.skills = data.detail.response.skills;
            }

            processEvent(e) {
              this.$.tablaResultadoSkills.txtsearch = e.detail.txtsearch;
            }

            processSelectSkill(e) {

                var uri = "https://skilldev-app.herokuapp.com/persona/asignaskill?token=" + localStorage.getItem('token');
                var bodyRequest = {
                                    registro: this.persona.registro,
                                    codigo_skill: e.detail.skill.codigo_skill,
                                    nivel_ingresado: "1"
                                  };
                this.$.postRequestId.body = bodyRequest;
                // this.$.postRequestId.headers['token'] = localStorage.getItem('token');
                this.$.postRequestId.url = uri;
                this.$.postRequestId.method = 'post';

                var self = this;
                this.$.postRequestId.generateRequest().completes.then(function(req) {
                  self.$.getSkills.generateRequest();
                },this);
            }

            // Observer method defined as a class method
            _cambioSkills(newValue, oldValue) {
              // console.log('_cambioSkills', newValue);
            }

            handleUserResponse(data) {
              var response = data.detail.response.skills;
            }

            handleUserError(event) {
              this.$.getSkills.generateRequest();
              console.log("Error al guardar...", event.detail.request.xhr.response);
            }

            _hadleSelectRatingEvent(e) {
              var uri = "https://skilldev-app.herokuapp.com/persona_skill/nivel?token=" + localStorage.getItem('token');
              var bodyRequest = {
                                  registro: e.detail.persona.registro,
                                  codigo_skill: e.detail.skill.codigo_skill,
                                  nivel_ingresado: e.detail.skill.nivel_ingresado,
                                  nivel_valorado: e.detail.skill.nivel_valorado
                                };
              this.$.updateSkillRequest.body = bodyRequest;
              // this.$.updateSkillRequest.headers['token'] = localStorage.getItem('token');
              this.$.updateSkillRequest.url = uri;
              this.$.updateSkillRequest.method = 'put';

              var self = this;
              this.$.updateSkillRequest.generateRequest().completes.then(function(req) {
                self.$.getSkills.generateRequest();
              },this);
            }

            _hadleDeleteSkillEvent(e) {

              var uri = "https://skilldev-app.herokuapp.com/persona/quitarskill?token=" + localStorage.getItem('token');
              var bodyRequest = {
                                  registro: this.persona.registro,
                                  codigo_skill: e.model.item.codigo_skill
                                };
              this.$.deleteSkillRequest.body = bodyRequest;
              // this.$.deleteSkillRequest.headers['token'] = localStorage.getItem('token');
              this.$.deleteSkillRequest.url = uri;
              this.$.deleteSkillRequest.method = 'post';

              var self = this;
              this.$.deleteSkillRequest.generateRequest().completes.then(function(req) {
                self.$.getSkills.generateRequest();
              },this);
            }
        }
        window.customElements.define(MySkillpersona.is, MySkillpersona);
    </script>
</dom-module>
