<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/src/skill-stars-rating-component/skill-stars-rating-component.html">

<dom-module id="skill-list-employee-skill-component">
  <template>
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
    </style>
  <table>
    <tbody>
      <template is="dom-repeat" items="{{accounts}}">
        <tr>
          <td><div class="persona">{{item.nombre}}</div><br><div class="posicion">{{item.posicion}}</div></td>

          <td>
            <div>
              <skill-stars-rating-component id="stars-group-general-{{item.id}}" rating="{{item.nivelskill}}"></skill-stars-rating-component>
            </div>
          </td>
          <td><iron-icon icon="iconos-web:bbva-percentage"></iron-icon><div class="body-copy">{{item.asignacion}}</div></td>
        </tr>
      </template>
    </tbody>
  </table>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListEmployeeSkillComponent extends Polymer.Element {
      static get is() { return 'skill-list-employee-skill-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'propiedad 1 del componente: techu-front-app'
          },
          nombre: {
            type: String,
            value: 'xxx'
          },
          edad: {
            type: Number,
            value: 20
          },
          accounts: {
            type: Array,
            value:[
              {id:"PER01", nombre:"Tracy Irving", posicion: "Core banking Systems/Corporate Functions", asignacion: 100, nivelskill: 4},
              {id:"PER02", nombre:"Bradley Yeaman", posicion: "Core banking Products/Transactional Services", asignacion: 80, nivelskill: 3},
              {id:"PER03", nombre:"Silvestre", posicion: "Core banking Products/Transactional Services", asignacion: 60, nivelskill: 0},
              {id:"PER04", nombre:"Rulito", posicion: "Core banking Products/Transactional Services", asignacion: 10}
            ]
          }
        };
      }
    }

    window.customElements.define(SkillListEmployeeSkillComponent.is, SkillListEmployeeSkillComponent);
  </script>
</dom-module>
