<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="login-usuario-cuentas">
<template>
   <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div hidden$="{{isLogged}}"   class="login-box" >
      <img src='../../images/Logo_bbva.png'><br>
          <label class="letrasLogingApp">Skill App</label>
          <div class="card-body">
            <div class="form-group" >
              <label class="letrasLoging" >   Registro </label>
              <input type="email" class="form-control"   id="exampleInputEmail1" placeholder="Ingrese su Registro" value="{{username::input}}">
            </div>
            <div class="form-group">
              <label class="letrasLoging">  Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su Password" value="{{password::input}}">
            </div>
            <button  class="btn btn-primary" on-click="login">Login</button>

       </div>
    </div>

    <!-- url="http://localhost:3007/a/v3/LoginMlabusers" -->
  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/login"
    content-type="application/json"
    method="POST"
    handle-as="text"
    on-response="manageAJAXResponse"
    on-error="showError">






</template>
<script>
    class LoginUsuarioCuentas extends Polymer.Element {
    static get is() { return 'login-usuario-cuentas'; }
    static get properties() {
      return {
        email: {
          type: String
        },
        username: {
          type: String
        },
        password: {
          type: String
        },

        isLogged: {
          type: Boolean,
          value: false
        },



        first_name: {
          type: String
        },
        last_name: {
          type: String
        },
        idusu:{
          type: String
        }
      };
    }

    login(e) {

      var loginData = {
        "registro" : this.username,
        "password" : this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }

    manageAJAXResponse(data) {

      var response = JSON.parse(data.detail.response);

      if ( response.usuario[0]._id!=undefined  ) {

        localStorage.setItem('token', response.token);
        this.idusu = response.usuario[0]._id;
        this.first_name = response.usuario[0].registro ;
        this.isLogged = true;

        this.dispatchEvent(new CustomEvent('loginok',
                           {detail:{idusu:this.idusu,
                                    name: this.first_name}}));



      } else {


        this.isLogged = false;

      }



    }

    showError(error) {

      console.log("Hubo un error");
      console.log(error);
    }
  }
  window.customElements.define(LoginUsuarioCuentas.is, LoginUsuarioCuentas);
</script>
</dom-module>
