<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="app-cabecera">
<template>
   <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <div class="head-box" >
     <img class="logohead"  src='../../images/logo_bbva_blue.png'  >
      <label class="letrasLogingApp">Skill App</label>
          <div  class="head-avatar">
            {{persona.nombres}} {{persona.apellido_paterno}}<img  class="avatar"  src='../../images/{{persona.url_img}}' >
          </div>
    </div> -->
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow">
        <div class="navbar-brand">
          <img class="logohead"  src='../../images/logo_bbva_blue.png'  >
           <label class="letrasLogingApp">Skill App</label>
        </div>
       <!-- <label class="letrasLogingApp">Skill App</label> -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item no-arrow">
              <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{persona.nombres}} {{persona.apellido_paterno}}</span>
                <img class="avatar" src='../../images/{{persona.url_img}}' >
              </a>
            </li>
          </ul>
    </nav>

    <!-- url="http://localhost:3007/a/v3/LoginMlabusers" -->
  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/login"
    content-type="application/json"
    method="POST"
    handle-as="text"
    on-response="manageAJAXResponse"
    on-error="showError">






</template>
<script>
    class appcabecera extends Polymer.Element {
    static get is() { return 'app-cabecera'; }
    static get properties() {
      return {
        email: {
          type: String
        },
        username: {
          type: String
        },
        password: {
          type: String
        },

        isLogged: {
          type: Boolean,
          value: false
        },

        persona: {
            type: Object
        },

        first_name: {
          type: String
        },
        last_name: {
          type: String
        },
        idusu:{
          type: String
        }
      };
    }

    login(e) {

      var loginData = {
        "registro" : this.username,
        "password" : this.password
      };

      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }

    manageAJAXResponse(data) {

      var response = JSON.parse(data.detail.response);

      if ( response.usuario[0]._id!=undefined  ) {

        localStorage.setItem('token', response.token);
        this.idusu = response.usuario[0]._id;
        this.first_name = response.usuario[0].registro ;
        this.isLogged = true;

        this.dispatchEvent(new CustomEvent('loginok',
                           {detail:{idusu:this.idusu,
                                    name: this.first_name}}));



      } else {


        this.isLogged = false;

      }



    }

    showError(error) {

      console.log("Hubo un error");
      console.log(error);
    }
  }
  window.customElements.define(appcabecera.is, appcabecera);
</script>
</dom-module>
