<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />

<dom-module id="app-opciones">
 <template>
   <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
   <style>
    </style>

<div   >  <!-- Inicio de configuraciòn -->

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody>
      <tr>
      <template is="dom-repeat" items="{{accounts}}">

          <td><img  class="avataropciones" title='{{item.id_menu.name_menu}}' src='{{item.id_menu.img_menu}}' on-click="Cambiopagina"  > </td>


      </template>
      </tr>
    </tbody>
  </table>

</div>

   <iron-ajax
     id="getAccounts"

     url="http://localhost:3000/menus/{{registro}}"
     handle-as="json"
     on-response="showData"
     >
 </template>
 <script>

   class appopciones extends Polymer.Element {

     static get is() { return 'app-opciones'; }
     static get properties() {
                               return {
                                       userid : {
                                         type: Number,
                                         observer: '_idChanged'
                                       },
                                       iban: {
                                       type: String
                                       },
                                       registro: {
                                       type: String
                                       },
                                       balance: {
                                       type: Number
                                       },
                                       accounts: {
                                       type: Array
                                       }
                                     };
                            }

     _idChanged() {

       this.$.getAccounts.generateRequest();
     }

     showData(data) {

       this.accounts = data.detail.response;
       //this.iban = data.detail.response[0].id_account;
       //this.balance = data.detail.response[0].saldo;
     }


     Cambiopagina(e) {


         var paginamostar =e.model.item.id_menu.id_menu;


         //this.$.gestor-componentes.Pagina = paginamostar; on-ChangePage

         this.dispatchEvent(new CustomEvent('changepage',
                            {detail:{page: paginamostar,
                                     nombre: paginamostar}}));




       }

 }

   window.customElements.define(appopciones.is, appopciones);
 </script>
</dom-module>
