
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
      <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
      <style include="shared-styles">
          :host {
            display: block;
            --default-primary-color:#028484;
            padding: 10px;
          }
          a.card, div.card {
              margin-bottom: 32px;
              width: calc(100% - 55px);
          }

          input:-internal-autofill-previewed{
            background:transparent;
          }

          input {
            font: inherit;
          }

          input[readonly] {
            border: 2px solid transparent;
          }


          paper-button{
            background: #028484;
            color:white;
            cursor: pointer;
          }

          vaadin-grid {
            height: auto;
          }

          .header {
            background:#5A9CC5;
            color: white;
          }

          #pages {
            display: flex;
            flex-wrap: wrap;
            margin: 20px;
          }

          #tableEmployeeId{
            /*overflow-y: scroll;*/
            zoom: 80%
          }

          #pages > button {
            user-select: none;
            padding: 5px;
            margin: 0 5px;
            border-radius: 10%;
            border: 0;
            background: #5A9CC5;
            font: inherit;
            outline: none;
            cursor: pointer;
          }

          #pages > button:hover,
          #pages > button:focus {
            color: var(--default-primary-color);
            background-color: #eee;
          }

          #pages > button[selected] {
            font-weight: bold;
            color: white;
            background-color: var(--default-primary-color);
          }

          img{
            cursor:pointer;
            width:40px;
            height: auto;
            vertical-align: middle;
          }
          .icon {
            cursor: pointer;
          }
        </style>

            <div class="card">
                Skill´s
                <input  id="txtSkillsearch"   style="width:40%;" class="textfield input--height-40" value="{{parametro}}" type="text" placeholder="Ingrese descripción skill">
                <a on-click="buscar" class="button button--primary button--short" title="active" role="button" style="width:20%">Buscar</a>
</br></br></br>

          <table align="center"   id="tableSkillId">

          <tr>

            <td >Descripciòn</td>
            <td >Detalle</td>
            <td > Tipo</td>
            <td >Estado</td>
            <td colspan="4" >Operaciones</td>

          </tr>



            <template is="dom-repeat" items="{{skills}}">

              <tr>

                <td > <input id="desc-[[index]]" value="{{item.descripcion_skill::input}}" readonly$="[[!_isEditing(editing, item)]]"></td>
                <td ><input id="det-[[index]]" value="{{item.detalle_skill::input}}" readonly$="[[!_isEditing(editing, item)]]"></td>
                <td > <input id="tip-[[index]]" value="{{item.tipo::input}}" readonly$="[[!_isEditing(editing, item)]]"></td>
                <td ><input id="est-[[index]]" value="{{item.estado::input}}" readonly$="[[!_isEditing(editing, item)]]"></td>
                <td ><img  class="imgedicion" src='../../images/editar.png' on-click="_edit"   title="Editar"></td>
                <td ><img  class="imgedicion" src='../../images/eliminar.png' on-click="_remove"   title="Eliminar"></td>
                <td ><img  class="imgedicion" src='../../images/cancelar.png' on-click="_cancel"   title="Cancelar"></td>
                <td ><img  class="imgedicion" src='../../images/guardar.png' on-click="_save"   title="Guardar"></td>

              </tr>
            </template>
            <tr>

              <td > <input id="desc-New" value="{{descripcion::input}}"  readonly$="[[!Edit_nuevo]]"></td>
              <td ><input id="det-New" value="{{detalle::input}}" readonly$="[[!Edit_nuevo]]"></td>
              <td > <input id="tip-New" value="{{tipo::input}}" readonly$="[[!Edit_nuevo]]"></td>
              <td ><input id="est-New" value="{{estado::input}}"  readonly$="[[!Edit_nuevo]]"></td>
              <td ><img  class="imgedicion" src='../../images/editar.png' on-click="_editNuevo"   title="Editar"></td>
              <td ><img  class="imgedicion" src='../../images/eliminar.png' on-click="_cancel_nuevo"    title="Eliminar"></td>
              <td ><img  class="imgedicion" src='../../images/cancelar.png' on-click="_cancel_nuevo"   title="Cancelar"></td>
              <td ><img  class="imgedicion" src='../../images/guardar.png' on-click="_add"   title="Guardar"></td>

            </tr>


          </table>

        </div>

        <iron-ajax id="postRequestId" method="post" content-type="application/json" handle-as="text"
                on-response="handleUserResponse" on-error="handleUserError" loading="{{cargando}}">
        </iron-ajax>

        <iron-ajax id="buscarIAjax"
          handle-as="json"
          on-response="handleUserResponse"
          on-error="handleUserError"

          loading="{{cargando}}">
        </iron-ajax>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          descripcion:{
            type:String,
            value:''
          },
          detalle:{
            type:String,
            value:''
          },
          estado:{
            type:String,
            value:''
          },
          tipo:{
            type:String,
            value:''
          },

          Edit_nuevo:{
            type:Boolean,
            value:false
          },
          parametro: {
            type: String
          },
          cargando: Boolean,
          skills: {
          type: Array
        },
          page: Number,
          pages: Array,
          skillSeleccionado:Object,
          editing: Object,
          desc_backup:String,
          det_backup:String,
          estado_backup:String,
          tipo_backup:String,


          item:Object
        }
      }
      static get observers() {
          return ['_itemsChanged(skills,page)']
      }


      buscar(){
          this.parametro = this.$.txtSkillsearch.value;

        this.$.buscarIAjax.url = "http://localhost:3000/skillsxDescripcion/"+ this.parametro;
        this.$.buscarIAjax.generateRequest();
      }

      handleUserResponse(event) {
        //var response = JSON.parse(event.detail.response);
        this.skills = event.detail.response;

      }

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }



      /***Paginado**/
      _itemsChanged(skills, page) {

          if (!this.pages) {

            this.pages = Array.apply( null, {length: Math.ceil(skills.length / this.$.tableSkillId.pageSize)} ).map(function(item, index) {
              return index + 1;
            });
          }
          var start = page * this.$.tableSkillId.pageSize;
          var end = (page + 1) * this.$.tableSkillId.pageSize;
          this.$.tableSkillId.items = skills.slice(start, end);
      }

            /******CRUD*********/
        /*
        _storeDesc(e) {
          this.descripcion_edit = e.target.value;
        }

        _storeDet(e) {
          this.detalle_edit = e.target.value;
        }
        */

        _isEditing(editing, item) {
          return item === editing;
        }

        _edit(e) {
          this.Edit_nuevo = false;
          var item = e.model.item;
          this.editing = item;
          this.desc_backup = item.descripcion_skill;
          this.det_backup = item.detalle_skill;
          this.tipo_backup = item.tipo;
          this.estado_backup = item.estado;

          this.$.tableSkillId.querySelector('#desc-' + e.model.index).focus();
        }

        _editNuevo(e) {

          this.editing = null;
          this.Edit_nuevo = true;



        }

        _save(e) {
          var item = e.model.item;
          //item.descripcion_skill= this.descripcion_skill;
          //item.detalle_skill=  this.detalle_skill;
          this.editing = null;

          var uri="http://localhost:3000/skill/"+item._id;
            this.$.postRequestId.body={
              _id:item._id,
              descripcion_skill:item.descripcion_skill,
              detalle_skill:item.detalle_skill,
              tipo:item.tipo,
              estado:item.estado

              };
            this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
            this.$.postRequestId.method = 'put';
            this.$.postRequestId.generateRequest();
            this.buscar();

        }

        _cancel(e) {
          this.editing = null;
          var item = e.model.item;
          item.descripcion_skill= this.desc_backup ;
          item.detalle_skill = this.det_backup ;
          item.tipo = this.tipo_backup ;
          item.estado=this.estado_backup  ;
          this.$.tableSkillId.querySelector('#desc-' + e.model.index).value = this.desc_backup;
          this.$.tableSkillId.querySelector('#det-' + e.model.index).value = this.det_backup;
          this.$.tableSkillId.querySelector('#tip-' + e.model.index).value = this.tipo_backup;
          this.$.tableSkillId.querySelector('#est-' + e.model.index).value = this.estado_backup;
          this.descripcion_skill = '';
          this.desc_backup='';
          this.det_backup='';
          this.$.tableSkillId.clearCache();
    }


_cancel_nuevo(e) {
  this.editing = null;
  this.$.tableSkillId.querySelector('#desc-New' ).value = "";
  this.$.tableSkillId.querySelector('#det-New' ).value = "";
  this.$.tableSkillId.querySelector('#tip-New' ).value ="";
  this.$.tableSkillId.querySelector('#est-New' ).value = "";

  this.$.tableSkillId.clearCache();
}


        _add(e) {

          if (this.descripcion !== '' && this.detalle !== '') {

            var uri="http://localhost:3000/skill/";
            this.$.postRequestId.body={descripcion_skill:this.descripcion,detalle_skill:this.detalle,tipo:this.tipo,estado:this.estado};
            this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
            this.$.postRequestId.method = 'post';
            this.$.postRequestId.generateRequest();
            this.buscar();

            this.descripcion = '';
            this.detalle = '';
            this.tipo = '';
            this.estado = '';

          } else {
            this.$.validaDialog.open();
          }
        }

        setearSkillSeleccionado(e){
          this.skillSeleccionado = e.model.item;
          this.$.confirmaEliminaDialog.open();
        }

        _remove(e) {

          var item = e.model.item;

          alert(item._id);

          var uri="http://localhost:3000/skill/"+item._id;
          this.$.postRequestId.body={_id:item._id};
          this.$.postRequestId.method = 'delete';
          this.$.postRequestId.url = uri + "?token=" + localStorage.getItem('token');
          this.$.postRequestId.generateRequest();
          this.buscar();

        }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
