<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-data-table/iron-data-table.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<!--- para mostar lista de empleados-->
<link rel="import" href="skill-find-component/skill-find-component.html">
<link rel="import" href="skill-list-employee-component/skill-list-employee-component.html">
<link rel="import" href="../persona/my-detapersona.html">



<dom-module id="my-view1">
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style >

    </style>

    <div hidden$="[[visorseleccionado]]" class="container-fluid" >
      <skill-find-component on-searchevent="processEvent" ></skill-find-component>
      <skill-list-employee-component
          on-selectedpersonevent="processSelectedPerson"
          id="tablaResultadoEmpleados"
          >
      </skill-list-employee-component>
      </div>
    </div>
    <div hidden$="[[!visorseleccionado]]"  class="row" >
        <!-- la idea es mostrar los detalles de la persona seleccionada-->
        <my-detapersona id="Selectedperson" name="detapersona"></my-detapersona>
    </div>

  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          cargando: Boolean,
          personas: Array,
          page: Number,
          pages: Array,

          visorseleccionado: {
            type: Boolean,
            value: false
          },





          parametro:{
            notify:true,
            reflectToAttribute:true,
            observer:'buscar'
          },
          personaSeleccionada:Object,
        }
      }

      processEvent(e) {
        this.$.tablaResultadoEmpleados.txtsearch = e.detail.txtsearch;
      }

    // Ejecutarà cuando se realice Click en la imagen de la persona de la lista
      processSelectedPerson(e) {
        this.personaSeleccionada = e.detail.persona;
        this.$.Selectedperson.persona = this.personaSeleccionada;
        this.$.Selectedperson.inicializa();
        this.visorseleccionado=true;
      }


// Inicializa los estados iniciales del componente
      inicializa() {
          this.visorseleccionado=false;

         }


    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
