<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../login/login-usuario.html">
<link rel="import" href="../pages/app-cabecera.html">
<link rel="import" href="../pages/app-opciones.html">

<link rel="import" href="../pages/my-view1.html">

<link rel="import" href="../pages/my-view2.html">
<link rel="import" href="../pages/persona/my-detapersona.html">
<link rel="import" href="../pages/project/my-project-person.html">
<link rel="import" href="../pages/my-proyecto.html">

<dom-module id="gestor-componentes">
 <template>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <!-- <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css"> -->



   <login-usuario on-loginok="showAccounts"></login-usuario>

   <div class="container" hidden$="[[!hasAccounts]]"> <!--Marco trabajo-->

        <div class="row" >
            <div class="container-fluid"> <!--Cabecera-->
              <app-cabecera  persona ="[[personaLogeada]]" ></app-cabecera>
            </div> <!-- Fin Cabecera-->
        </div>

        <div class="row" >
          <div class="container-fluid" align="right" style="vertical-align: top;"  >
            <div > <!--Opcioes menu-->
              <app-opciones id="receiver"  on-changepage="_pageChanged" ></app-opciones>
            </div> <!-- Fin Opciones Menu-->
          </div>
        </div>

        <div class="row" >
                <div hidden$="[[!visor0]]" style="vertical-align: top;" >  <!--Visor funcionalidad DashBoard-->
                </div>
                <my-view1 class="container-fluid" hidden$=[[!visor1]]  id="busqpersonas"  name="personas"></my-view1>
                <div hidden$="[[!visor2]]" style="vertical-align: top;" >  <!--Visor funcionalidad Skilss-->
                  <my-view2 name="skills"></my-view2>
                </div>
                <div hidden$="[[!visor3]]" style="vertical-align: top;" >  <!--Visor funcionalidad-->

											<my-proyecto name="proyectos"></my-proyecto>

                    <my-project-person id="projectlogeada" name="projectlogeada"   persona ="[[personaLogeada]]" ></my-project-person>

                </div>

                <div hidden$="[[!visor4]]" style="vertical-align: top;" >  <!--Visor funcionalidad Perfil-->
                  <my-detapersona id="detpersonalogeada" name="detapersona"   persona ="[[personaLogeada]]" ></my-detapersona>
                </div>

        </div>
    </div><!--Fin Marco trabajo-->





 </template>
 <script>
   class GestorComponentes extends Polymer.Element {


     static get is() { return 'gestor-componentes'; }

     static get properties() {
       return {
               hasAccounts: {
                 type: Boolean,
                 value: false
               },

               personaLogeada: {
                   type: Object,
                   observer: 'cargarlogeado'
               },


               first_name: {
                 type: String
               },
               last_name: {
                 type: String
               },
               registro: {
                 type: String
               },
               Pagina: {
                 type: Number
               },
               visor0: {
                 type: Boolean,
                 value: false
               },
               visor1: {
                 type: Boolean,
                 value: false
               },
               visor2: {
                 type: Boolean,
                 value: false
               },
               visor3: {
                 type: Boolean,
                 value: false
               },
               visor4: {
                 type: Boolean,
                 value: false
               }
          };
      }




     cargarlogeado() {
     this.$.detpersonalogeada.inicializa();
     this.visor4=true;
     //this.$.detpersonalogeada.mostrarskills=true;
     //this.$.detpersonalogeada.mostrarproyectos=true;

     }


     showAccounts(e)
     {
       this.registro = e.detail.registro;
       this.personaLogeada=e.detail.persona;

       this.$.receiver.registro = e.detail.registro;
       this.$.receiver.userid = e.detail.idusu;
       this.hasAccounts = true;
     }

     _pageChanged(e) {

       this.Pagina=e.detail.page;
       //this.Persona=e.detail.persona;


        switch(this.Pagina) {
          case 1:
           this.$.busqpersonas.inicializa();

           this.visor1=true;
           this.visor0=false;
           this.visor2=false;
           this.visor3=false;
           this.visor4=false;
        break;
          case 2:

          this.visor2=true;
          this.visor0=false;
          this.visor1=false;
          this.visor3=false;
          this.visor4=false;
        break;
          case 3:
          this.visor3=true;
          this.visor0=false;
          this.visor1=false;
          this.visor2=false;
          this.visor4=false;
          break;
          case 4:
          this.visor4=true;
          this.visor0=false;
          this.visor1=false;
          this.visor2=false;
          this.visor3=false;

          break;
          default:

          this.visor0=true;
          this.visor1=false;
          this.visor2=false;
          this.visor3=false;
          this.visor4=false;
          break;

        }


       }





   }
   window.customElements.define(GestorComponentes.is, GestorComponentes);
 </script>
</dom-module>
