<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="proyecto-find-component">
  <template>
  <link rel="stylesheet" type="text/css" href="../../../css/proy_estilos.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style include="shared-styles">
    :host {
      display: block;
    }
  </style>
  <h1>Administrar Proyectos</h1>
    <!-- <div class="form__item input__wrapper" style="width:80%; margin-left: 10px; margin-right: 20px;">
        <input id="txtsearch" style="width:60%;" class="textfield input--height-48"
        value="{{texto}}" type="text" name="proyecto" placeholder="escriba el codigo de proyecto a buscar">
        <label for="white_background_textfield48_1" class="input__label">Buscar [[texto]]</label>
        <div class="ui-wrong input__error-msg">ERROR MESSAGE</div>
        <a on-click="sendEvent" class="button button--primary button--short" title="active" role="button" style="width:20%">Buscar</a>
    </div> -->

    <div class="row mt-2">
        <h6 class="m-0 font-weight-bold text-primary">Ingrese el codigo de proyecto:</h6>
      <div class="container-fluid pt-4">
      <form class="d-flex d-sm-inline-block form-inline mr-auto">
            <div class="input-group">
              <input type="text" id="txtsearch" value="{{texto}}" class="form-control bg-light border-0 small" placeholder="Escriba el texto a buscar.." aria-label="Buscar [[texto]]" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" on-click="sendEvent">
                  Buscar
                </button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProyectoFindComponent extends Polymer.Element {
      static get is() { return 'proyecto-find-component'; }
      static get properties() {
        return {
          texto: {
            type: String
          }
        };
      }

      sendEvent(e) {
        this.texto = this.$.txtsearch.value;
        this.dispatchEvent(
          new CustomEvent(
            "searchevent",
            {
              "detail" : {
                "txtsearch" : this.texto
              }
            }
          )
        );
      }
    }

    window.customElements.define(ProyectoFindComponent.is, ProyectoFindComponent);
  </script>
</dom-module>
