<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="skill-list-employee-component">
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/proy_estilos.css">
    <style>
      table {
        width: 100%;
      }
      th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      .persona {
        font-weight: bold;
        font-size: 1.2em;
      }
      .posicion {
        font-style: italic;
      }
      img{
        width:30px;
        height: auto;
        vertical-align: middle;
      }
      .icon {
        cursor: pointer;
      }
      .table-row{
        cursor:pointer;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="row pt-4 mt-2">
      <template is="dom-if" if="{{txtsearch}}" restamp>
        <h6 class="m-0 font-weight-bold text-primary">Mostrando resultados de [[txtsearch]]</h3>
      </template>
      <table class="table table-responsive pt-4 mt-2 table-hoover">
      <template is="dom-if" if="{{txtsearch}}" restamp>
        <thead>
          <td>Img</td>
          <td>Nombres y apellidos </td>
          <td>Building Block</td>
        </thead>
      </template>
      <tbody>
        <template is="dom-repeat" items="{{empleados}}">

          <tr class="table-row" on-click="verDetalles" >
            <td>
              <img  class="avatarbusqueda" src='../../images/{{item.url_img}}' on-click="verDetalles"   title="Ver Detalles">
            </td>
            <td><div class="body-copy">{{item.nombres}} {{item.apellido_paterno}} {{item.apellido_materno}} [{{item.registro}}]</div></td>
            <td><div class="body-copy">{{item.building_block}}</div></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
<!--  url="https://skilldev-app.herokuapp.com/persona?limit=10&page=1&nombres={{txtsearch}}"  -->

<!-- decia auto -->


    <iron-ajax
      id="getPersons"
      url="http://localhost:3000/persona?limit=10&page=1&nombres={{txtsearch}}"




      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SkillListEmployeeComponent extends Polymer.Element {
      static get is() { return 'skill-list-employee-component'; }
      static get properties() {
        return {
          txtsearch: {
            type: String,
            observer: '_textChanged'
          },
          empleados: {
            type: Array,
            value:[]
          }
        };
      }
      showData(data) {
        this.empleados = data.detail.response.docs;
      }

      _textChanged() {
        this.$.getPersons.generateRequest();
      }



      verDetalles(e) {
        //document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectedpersonevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }





      verSkills(e) {
        //document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }
      verProyectos(e) {
        //document.querySelector('my-app').set('route.path', '/personas/'+e.model.item.registro);
        this.dispatchEvent(
          new CustomEvent(
            "selectpersonforprojectsevent",
            {
              "detail" : {
                "persona" : e.model.item
              }
            }
          )
        );
      }
    }

    window.customElements.define(SkillListEmployeeComponent.is, SkillListEmployeeComponent);
  </script>
</dom-module>
