<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="skill-stars-rating-component">
  <template>
    <style>
  </style>
  <iron-icon id="1" icon="{{star1}}" on-click="doAction"></iron-icon>
  <iron-icon id="2" icon="{{star2}}" on-click="doAction"></iron-icon>
  <iron-icon id="3" icon="{{star3}}" on-click="doAction"></iron-icon>
  <iron-icon id="4" icon="{{star4}}" on-click="doAction"></iron-icon>
  <iron-icon id="5" icon="{{star5}}" on-click="doAction"></iron-icon>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     var STAR_NONE = "iconos-web:bbva-rank-state-none"; //No ha sido asignado
     var STAR_MARKED = "iconos-web:bbva-rank-state-marked"; //Complemento de lo asignado
     var STAR_CHECKED = "iconos-web:bbva-rank-state-checked"; //Declarado por el usuario, por validar
     var STAR_VALIDATED = "iconos-web:bbva-rank-state-validated"; //Validado

    class SkillStarsRatingComponent extends Polymer.Element {
      static get is() { return 'skill-stars-rating-component'; }
      static get properties() {
        console.log('ingreso a skill-stars-rating-component');
        console.log(this.rating);
        return {
          disabled: {
            type: Object,
            notify: true,
            reflectToAttribute: true
          },
          persona:  {type: Object},
          skill:    {type: Object},
          rating:   {type: Number, observer: '_cambioRating'},
          tipo:     {type: Number, value: 0 },
          star1: {type: String, value:STAR_NONE },
          star2: {type: String, value:STAR_NONE },
          star3: {type: String, value:STAR_NONE },
          star4: {type: String, value:STAR_NONE },
          star5: {type: String, value:STAR_NONE }
        };
      }

      // Observer method defined as a class method
      _cambioRating(newValue, oldValue) {
        // console.log('_cambioRating', newValue);
        this.setStars(this.rating, this.tipo);
      }

      ready() {
        super.ready();
        this.setStars(this.rating, this.tipo);
       }

      doAction(event) {
        // console.log("1 doAction-->", this.disabled);
        if (this.disabled) {
          return;
        }
        var index = event.srcElement.id;
        this.rating = index;
        if (this.tipo == 1) {
          this.skill.nivel_valorado = index;
        } else {
          this.skill.nivel_ingresado = index;
        }

        this.dispatchEvent(
          new CustomEvent(
            "selectratingevent",
            {
              "detail" : {
                "persona" : this.persona,
                "skill" : this.skill
              }
            }
          )
        );
      }

      setStars(valor,tipo) {
        var tipoEstrella = STAR_CHECKED;
        if (tipo == 1) {
          tipoEstrella = STAR_VALIDATED;
        }
        this.initStars();
        if (valor > 4) { this.star5 = tipoEstrella;}
        if (valor > 3) { this.star4 = tipoEstrella;}
        if (valor > 2) { this.star3 = tipoEstrella;}
        if (valor > 1) { this.star2 = tipoEstrella;}
        if (valor > 0) { this.star1 = tipoEstrella;}
        if (valor == 0) { this.setAllStars();}
      }

      setAllStars() {
        this.star1 = STAR_MARKED;
        this.star2 = STAR_MARKED;
        this.star3 = STAR_MARKED;
        this.star4 = STAR_MARKED;
        this.star5 = STAR_MARKED;
      }

      initStars() {
        this.star1 = STAR_NONE;
        this.star2 = STAR_NONE;
        this.star3 = STAR_NONE;
        this.star4 = STAR_NONE;
        this.star5 = STAR_NONE;
      }
    }

    window.customElements.define(SkillStarsRatingComponent.is, SkillStarsRatingComponent);
  </script>
</dom-module>
